.home {
  padding: 60px;
  .header {
    display: flex;
    justify-content: space-between;

    .left-panel {
    }
    .right-panel {
      h1 {
        font-size: 4.5rem;
        font-weight: bolder;
        margin-bottom: 20px;
      }
    }
  }
}
