.bookmarksMenu {
  display: flex;
  flex-direction: column;

  width: 46px;
  height: 100%;
  z-index: 999;

  background-color: var(--color-1);
  color: var(--text-color);

  transition: all ease-in .5s;
}
