.search-bar {
  -webkit-app-region: no-drag;

  width: 100%;
  min-width: 200px;
  height: 25px;
  height: 25px;

  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;

  border: 1px solid var(--searchBarBorderColor);

  .search-input {
    border: none;
    flex: 1;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    outline: none;
    color: var(--searchBarInputPlaceholderColor);
    text-align: center;

    transition: all 0.2s ease-in-out;

    &::placeholder {
      color: var(--searchBarInputPlaceholderColor);
      font-weight: normal;
    }

    &:focus {
      &::placeholder {
        color: var(--searchBarInputFocusPlaceholderColor);
      }

      animation: input-focus 0.3s ease forwards;
    }
  }
}

@keyframes input-focus {
  from {
    color: var(--searchBarInputPlaceholderColor);
  }
  to {
    color: var(--searchBarInputTextColor);
  }
}
