.top-bar {
  height: 39px;
  -webkit-app-region: drag;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--topBarBackgroundColor);
  display: flex;

  .top-bar-left {
    display: flex;
    align-items: center;
    width: 30%;
    color: var(--topBarLeftTextColor);

    .utilsBTN {
      width: 100%;
      display: flex;
    }
  }

  .top-bar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: var(--topBarCenterTextColor);
  }

  .top-bar-right {
    display: flex;
    align-items: center;
    margin-right: 136px;
    margin-left: auto;
    color: var(--topBarRightTextColor);

    .showBookmarksBTN {
      background: none;
      border: none;
      color: var(--topBarRightBookmarkButtonTextColor);
      outline: none;
      -webkit-app-region: no-drag;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 39px;
      width: 46px;

      svg {
        width: 18px;
        justify-content: center;
        align-items: center;

        path {
          fill: var(--topBarRightBookmarkButtonSVGPathFill);
        }
      }

      &:hover {
        background-color: var(--topBarRightBookmarkButtonHoverBackgroundColor);
      }
    }

    .showInfoBTN {
      background: none;
      border: none;
      color: var(--topBarRightInfosButtonTextColor);
      outline: none;
      -webkit-app-region: no-drag;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 39px;
      width: 46px;

      svg {
        width: 18px;
        justify-content: center;
        align-items: center;

        path {
          fill: var(--topBarRightInfosButtonSVGPathFill);
        }
      }

      &:hover {
        background-color: var(--topBarRightInfosButtonHoverBackgroundColor);
      }
    }
  }
}

.router-manager {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;

  .webview {
    height: calc(100% - 70px);
    width: 100%;
    -webkit-app-region: no-drag;
  }
}
