.tab-bar {
  display: flex;
  margin-top: 39px;
  height: 31px;
  user-select: none;
  color: var(--tabBarTextColor);
  border-bottom: 1px solid var(--tabBarBorderColor);

  .tab {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--tabBarTabTextColor);
    padding: 10px;

    transition: .2s;

    img {
      width: 20px;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    p {
      display: -webkit-inline-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      max-width: 90%;
    }

    &:hover {
      .close {
        animation: focus 0.3s ease forwards;
        &:hover {
          background-color: var(--tabBarTabHoverCloseButtonBackgroundColor);
        }

        svg {
          width: 15px;
          height: 15px;

          background-color: var(--tabBarTabHoverCloseButtonSVGBackgroundColor);

          fill: var(--tabBarTabHoverCloseButtonSVGFillColor);
        }
      }

      .sound {
        animation: focus 0.3s ease forwards;

        svg {
          fill: var(--tabBarTabHoverSoundButtonSVGFill);

          path {
            fill: var(--tabBarTabHoverSoundButtonSVGPathFill);
          }
        }
      }

      @keyframes focus {
        from {
          display: none;
        }
        to {
          display: flex;
          transform: scale(1.2);
        }
      }
    }

    .close {
      display: flex;
      cursor: pointer;
      background-color: var(--tabBarTabCloseButtonBackgroundColor);
      margin-left: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      transition: .2s;

      &:hover {
        background-color: var(--tabBarTabCloseButtonHoverBackgroundColor);
        animation: close-spin 0.5s ease forwards;

        @keyframes close-spin {
          from {
            rotate: 0deg;
          }
          to {
            transform: scale(1.2);
            rotate: 180deg;
          }
        }
      }

      svg {
        width: 15px;
        height: 15px;

        background-color: var(--tabBarTabCloseButtonSVGBackgroundColor);

        fill: var(--tabBarTabCloseButtonSVGFill);
      }
    }

    &.inactive {
      cursor: pointer;
      border: var(--tabBarTabInactiveBorder);
      border-bottom: none;
      box-shadow: var(--tabBarTabInactiveBoxShadow);
      // transform: translateY(2px);
    }

    &.minimize {
      p {
        display: none;
      }

      .close {
        display: none;
      }

      .sound {
        display: none;
      }

      &:hover {
        .close {
          display: flex;
          margin-left: 0px;
        }

        .sound {
          display: flex;
        }

        img {
          display: none;
        }
      }
    }
  }
}
