.webviewController {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .forwardBackward {
    -webkit-app-region: no-drag;
    margin-right: 10px;

    .backArrow,
    .forwardArrow {
      height: 39px;
      width: 46px;
      background-color: var(--buttonsForwardBackwardBackgroundColor);

      &:disabled {
        svg {
          opacity: 0.5;
        }
        &:hover {
          background-color: var(
            --buttonsForwardBackwardDisabledHoverBackgroundColor
          );
        }
      }
      &:hover {
        background-color: var(--buttonsForwardBackwardHoverBackgroundColor);
      }
      svg {
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        polyline {
          stroke: var(--svg-color);
        }
      }
    }
  }
}
.downloadButton {
  -webkit-app-region: no-drag;
  height: 39px;
  width: 46px;
  background-color: var(--buttonsDownloadBackgroundColor);
  &:hover {
    background-color: var(--buttonsDownloadHoverBackgroundColor);
  }
  svg {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    path {
      stroke: var(--buttonsDownloadSVGPathStroke);
    }
    polyline {
      stroke: var(--buttonsDownloadSVGPolylineStroke);
    }
    line {
      stroke: var(--buttonsDownloadSVGLineStroke);
    }
  }
}
.addBookmarkButton,
.addTabButton {
  -webkit-app-region: no-drag;
  height: 39px;
  width: 46px;
  background-color: var(--buttonsAddBookmarkTabBackgroundColor);
  &:hover {
    background-color: var(--buttonsAddBookmarkTabHoverBackgroundColor);
  }
  svg {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    line {
      stroke: var(--buttonsAddBookmarkTabSVGLineStroke);
    }
  }
}
.addBookmarkButton {
  height: 46px;
  cursor: pointer;
}
.refreshButton,
.sslProtocol {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--buttonsRefreshSSLBackgroundColor);
  cursor: pointer;
  transition: .2s;
  &:hover {
    background-color: var(--buttonsRefreshSSLHoverBackgroundColor);
  }
  p {
    color: var(--buttonsRefreshSSLTextColor);
  }
  svg {
    margin-top: 2px;
    width: 15px;
    height: 15px;
    fill: var(--buttonsRefreshSSLSVGFill);
    line {
      stroke: var(--buttonsRefreshSSLSVGLineStroke);
    }
    circle {
      stroke: var(--buttonsRefreshSSLSVGCircleStroke);
    }
    path {
      fill: var(--buttonsRefreshSSLSVGPathFill);
    }
  }
}
.refreshButton {
  &:hover {
    svg {
      animation: close-spin 0.5s ease forwards;
    }
    @keyframes close-spin {
      from {
        rotate: 0deg;
        transform: scale(1);
      }
      to {
        transform: scale(1.2);
        rotate: 360deg;
      }
    }
  }
}
.sound {
  // width: 20px; // height: 20px;
  border-radius: 4px;
  background-color: var(--buttonsSoundBackgroundColor);
  cursor: pointer;
  transition: .2s;
  margin-right: 10px;
  svg {
    margin-top: 2px;
    width: 15px;
    height: 15px;
    fill: var(--buttonsSoundSVGFill);
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      fill: var(--buttonsSoundSVGPathFill);
    }
  }
}
